
.flex-container{
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  width: 50%;
  margin: auto;
  text-align: center;
  
  line-height: 75px;
  font-size: 30px;
}

.btn-area {
  color: #495057;
  border-color: #495057;
  border-style: dashed;
  border-width: 2px;
  border-radius: 20px;
  background-color: transparent;
}

.btn-area:hover {
  color: #E86A33;
  border-color: #6c757d;;
}

.progress {
  height: 32px;
}

.progress .progress-bar {
  font-size: 16px;
  line-height: 28px;